version: '3'

services:
  tfupdate-terraform:
    build:
      context: .
      dockerfile: Dockerfile.tfupdate
    entrypoint: ./update-terraform.sh
    environment:
      GITHUB_TOKEN: "xxxxxxxxxxxxxxxx"
      GITHUB_USER: "xxxxxx"
      EMAIL: "xxxxxxxx@sample.com"
      BASE_BRANCH: "master"
  tfupdate-provider:
    build:
      context: .
      dockerfile: Dockerfile.tfupdate
    entrypoint: ./update-provider.sh
    environment:
      GITHUB_TOKEN: "xxxxxxxxxxxxxxxx"
      GITHUB_USER: "xxxxxx"
      EMAIL: "xxxxxxxx@sample.com"
      BASE_BRANCH: "master"
      PROVIDER_NAME: "aws"
